#navgation {
    height: 23.5vh;
    width: 23.5vh;
    margin-left: 1.4vh;
    
}



.container:hover #overlay{
    width:23.5vh

}


#overlay{
    
    width:0vh;
    height:23.5vh;
    background-color: white;
    overflow:hidden;
    transition: .25s ;

}

#overlay:hover{
    background-color: white;
    cursor:pointer;

}


#navimg {
    height:100%;
    border-radius: 25px;
}










