@font-face{
    font-family: "Lino Write";
    src: url("../../linowrite.ttf") ;
}

#testheading{
    position: absolute;
    margin-top: 300px;
    transform: translate(-50%,-50%);
    margin-left: 50vw;
    background: url("./Green denim texture.png");
    height: 350px;
    width: 500px;
    background-size: cover;
    
}

#test1{
    width: 500px;
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    margin-left: 250px;
    margin-top: 175px;
    font-size: 800%;
    font-family:'Lino Write';
    background: url("./Green denim texture.png");
    color: black;
    background-position: center;
    line-height: 350px;
    background-repeat: no-repeat;
    mix-blend-mode: screen;

}

#test2{
    width: 500px;
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    margin-left: 250px;
    margin-top: 175px;
    font-size: 800%;
    font-family:'Lino Write';
    background: url("../Design/designs/Plain/Blue zip Plain L.jpg");
    color: white;
    background-position: 0px -5px;
    line-height: 350px;
    background-repeat: no-repeat;
    mix-blend-mode: darken;

}

#monogramText{
    position: absolute;
    transform: translate(-50%,-50%);
    margin-left: 250px;
    margin-top:400px;
}