@font-face{
    font-family: "Lino Write";
    src: url("../../linowrite.ttf") ;
}



#bespokeText {
    position: absolute;
    margin-top:10px;
    max-width: 930px;
    width:58vw;
    text-align:justify;
    transform: translate(-50%);
    margin-left: 50vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#bespokeText h1 {
    text-align: center;
    font-family: "Lino Write";
}

#bespokeText h2 {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    
}

#headerimg {
    max-width: 1000px;
    margin-top:100px;
    width:62.5vw;
    transform: translate(-50%);
    margin-left: 50vw;
    
}



