@font-face{
    font-family: "Lino Write";
    src: url("../../linowrite.ttf") ;
}

#main-menu{
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    margin-left: -17.5px;
    margin-top: -2px;
    cursor: pointer;
    
}

.main-menu-style{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

.main-menu-style a{
    text-decoration: none;
    color:black
}



.main-menu-list{
    position: absolute;
    padding: 15px;
    margin-top:35px;
    cursor: pointer;
    line-height: 25px;
    background-color: rgba(255,255,255,0.75);
    width:120px; 
    z-index: 2;
}



#main-menu-so79{
    position: absolute;
    font-weight: 600;
    font-size: 15px;
    margin-left: 25px;
    cursor: pointer;
    font-family:'Lino Write';
    width:200px;
    margin-top: 17px;
    
}

#main-menu-submenu {
    
    padding-left: 0px
}

#completebespoke{
    margin-top: 5px;
    line-height: 14px;
}

#homebutton{
    position: absolute;
    transform: translate(-50%,0%);
    margin-left: 50vw;
    height:87.5px;
    padding-top: 10px;
    cursor: pointer;
    z-index: 1;
}

#basketIG {
    position: absolute;
    margin-left: 92.5vw;
    margin-top: 10px;
}

#basketIG a{
    color: black;
}

#menu2{
    
    font-size: 20px;   
    cursor: pointer;
    transform: translate(0,6%);
}



#menu21{
    
    margin-left: 1vw;
    transform: translate(0,-5%);
    font-size: 20px;
    cursor: pointer;
}

#basketAmount{
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-left: 7px;
    

}

#menuHidden{
    display: none;
}

#cart{
    position: absolute;
    width:200px;
    background-color: rgb(242,242,242);
    margin-left:-120px; 
    z-index: 7;
}

#cart th{
    
    position: relative;
    border-style: none;
    font-size: 10px;
    
    
}

#cartHide {
    display: none;
}



@media(max-width:800px){
    #basketIG{
        
        margin-left: 87.5vw;
       
    }

    #main-menu-so79{
        
        font-size: 12px;
        
    }
    #main-menu{
        margin-top: -4px;
    }

    .main-menu-list a{
        font-size: 12px;
    }
    .main-menu-list li{
        font-size: 12px;
    }
}
    