@font-face{
    font-family: "Lino Write";
    src: url("../../linowrite.ttf") ;
}

#main-menu{
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    margin-left: -17.5px;
    margin-top: -2px;
    cursor: pointer;
    
}

.main-menu-style{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

.main-menu-style a{
    text-decoration: none;
    color:black
}



.main-menu-list{
    position: absolute;
    padding: 15px;
    margin-top:35px;
    cursor: pointer;
    line-height: 25px;
    background-color: rgba(255,255,255,0.75);
    width:120px; 
    z-index: 2;
}



#main-menu-so79{
    position: absolute;
    font-weight: 600;
    font-size: 15px;
    margin-left: 25px;
    cursor: pointer;
    font-family:'Lino Write';
    width:200px;
    margin-top: 17px;
    
}

#main-menu-submenu {
    
    padding-left: 0px
}

#completebespoke{
    margin-top: 5px;
    line-height: 14px;
}

#homebutton{
    position: absolute;
    transform: translate(-50%,0%);
    margin-left: 50vw;
    height:87.5px;
    padding-top: 10px;
    cursor: pointer;
    z-index: 1;
}

#menu2{
    position: absolute;
    margin-left: 95.5vw;
    padding-top:9px;
    font-size: 20px;
    cursor: pointer;
}

#menu21{
    position: absolute;
    font-size: 20px;   
    cursor: pointer;
    margin-left: 92.5vw;
    padding-top:10px;
}

@media(max-width:600px){
    #menu21{
        
        margin-left: 87.5vw;
       
    }

    #main-menu-so79{
        
        font-size: 12px;
        
    }

    .main-menu-list a{
        font-size: 12px;
    }
    .main-menu-list li{
        font-size: 12px;
    }
}
    