@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

@font-face{
    font-family: "Lino Write";
    src: url("../../linowrite.ttf") ;
}

@font-face{
    font-family: "Sign Painter";
    src: url("../../SignPainter.ttf") ;
}

@font-face{
    font-family: "Dancing Script Bold";
    src: url("../../DancingScript-Bold.ttf") ;
}


*{
    font-size:15px;
}



#noCarRender{
    opacity:0;
}





#createYourOwn {  
    position: absolute;
    
    
}




















#sizemenu{
    text-align: right;
    margin-top: 0vh;
    margin-left: 0vw;
}

#sizeOn{
    margin-left: 24vw;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
    position:absolute;
}

#fabricmenu{
    color: rgba(0,0,0,0.25);
    text-align: right;
  
}


#fabricOn{
    margin-left: 24vw;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
    position:absolute;
}

#zipmenu{
    text-align: right;
    
}



#zipmenuexpanded{
   
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
    font-style: italic; 
}

#zipmenuexpanded li{
    font-weight: 600;
}

#frontdisplaytoggle{
    position: absolute;
}




#backmenusection{
    
    margin-top: -15px;
    

}

#menusectionhidden{
    display: none;
}

#frontmenutoggle{
    position: absolute;
    margin-left: 55vw;
    margin-top: 80vh;
    transform: translate(-50%,0%);
    font-size: 17px;
    cursor: pointer;
    
}


#backmenutoggle{
    position: absolute;
    margin-left: 55vw;
    margin-top: 80vh;
    transform: translate(-50%,0%);
    font-size: 17px;
    cursor: pointer;
    
}

#menutogglehidden{
    display: none;
}

#toggles{
    
    height: 550px;
    width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    margin-left: 50vw;
    margin-top: 50vh;
}

#showboth{
    position: absolute;
    margin-left: 185px;
    margin-top: 515px;
    transform: translate(-50%,0%);
    font-size: 17px;
    cursor: pointer;
}

#showboth2{
    position: absolute;
    margin-left: 160px;
    margin-top: 515px;
    transform: translate(-50%,0%);
    font-size: 17px;
    cursor: pointer;
    
}

#frontmenutoggle{
    position: absolute;
    margin-left: 315px;
    margin-top: 515px;
    transform: translate(-50%,0%);
    font-size: 17px;
    cursor: pointer;
    
}


#backmenutoggle{
    position: absolute;
    margin-left: 315px;
    margin-top: 515px;
    transform: translate(-50%,0%);
    font-size: 17px;
    cursor: pointer;
    
}









#fadeOff{
    display: none;
    animation-name:none;
    cursor: pointer;
    padding:0;
    background-color: rgba(0,0,0,0);
    border:none;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

.menuItems {
    position: absolute;
    height:30vw;
    max-height: 275px;
    width:85vw;
    max-width:800px;
    transform: translate(-50%,-50%);
    margin-top: 50vh;
    margin-left: 50vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    z-index: 1;
    
}



.menuItems li{
    font-weight: 300;
}



#leftMenu{
    display: inline-block;
    
    width:125px
}

#rightMenu{
    float: right;
    margin-top: -3px;
    width:125px
}



.classMenu {
    font-weight: 300;
}




.menuOff {
    display:none;
}

.boldMenuItems {
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
}

#frontmenuexpanded{
    padding:0;
    margin:0;
    width:50vw
}

#backmenuexpanded{
    padding:0;
    margin:0;
    width:50vw
}

#backOn{
    padding:0;
    margin:0;
}









#productOn{
    padding:0;
    margin:0; 
}

#productOff{
    display:none
}



.designMenuSubmenuCollapsed {
    padding:0;
    margin:0;
}

.designMenuSubmenuCollapsed ul{
    font-style: italic;
    font-weight: 600;
    padding:0;
    margin:0;
}





.designMenuCategories {
    padding:0;
    margin:0; 
    font-weight: 200;
}

.designMenuCategoriesCollapsed{
    padding:0;
    margin:0; 
    font-weight: 200;
}

#designStyle{
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}

#lWavesCollapsed li{
    display:none;
}

#sWavesCollapsed li{
    display:none;
}

#logoCollapsed li{
    display:none;
}

#monogramCollapse li{
    display:none;
}





#designBmenuexpand{
    padding:0;
    margin:0; 
}



li{
    list-style-type:none;
}





#cardholderFront{
    height:35vw;
    max-height: 325px;
    transform: translate(-50%,-50%);
    margin-right: 50px;
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
}


#cardholderBack{
    height:35vw;
    max-height: 325px;
    transform: translate(-50%,-50%);
    margin-right: 50px;
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
}


#cardholderFrontSBS{
    height:34vw;
    max-height: 325px;
    transform: translate(-50%,-50%);
    margin-right: 50px;
    position: absolute;
    margin-top: 50vh;
    margin-left: 27vw;
}

#cardholderBackSBS{
    height:34vw;
    max-height: 325px;
    transform: translate(-50%,-50%);
    margin-right: 50px;
    position: absolute;
    margin-top: 50vh;
    margin-left: 72vw;
}

#monogramFront{
    height:35vw;
    max-height: 325px;
    transform: translate(-50%,-50%);
    margin-right: 50px;
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
}

#frontText{
display: inline;
}

#backText{
    display: inline;
    color: rgba(0,0,0,0.25);
}

#backText:hover{
    display: inline;
    color: rgba(0,0,0,0.5);
}



#monogramContainer{
    position: absolute;
    margin-top: 50vh;
    transform: translate(-50%,-50%);
    margin-left: 50vw;
    height: 35vw;
    max-height: 325px;
    width: 50vw;
    max-width: 464px;
    background-size: cover;   
}

#monogramText1{
    
    height: 35vw;
    max-height: 325px;
    width: 50vw;
    max-width: 464px;
    background-size: cover;
    position: absolute;
    text-align: center;
    font-size: 85px;
    
    color: black;
    line-height: 325px;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    transform: translate(0%,-17.5%);
}

#monogramText2{
    
    height: 35vw;
    max-height: 325px;
    width: 50vw;
    max-width: 464px;
    background-size: cover;
    position: absolute;
    text-align: center;
    font-size: 85px;
    
    color: white;
    line-height: 325px;
    overflow: hidden;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
    transform: translate(0%,-17.5%);
}

#monogramTextBox{
    position: absolute;
    transform: translate(-50%,-50%);
    margin-left: 50%;
    margin-top:360px;
}






@media (max-width:600px){
    .menuItems {
        margin-top: 400px;
        
        height: 100px;
        width:370px;
        transform: translate(-50%,0%);
        z-index: -1;
        
    }

    #toggles{
        margin-top: 285px;
        height: 400px;
        width: 100px;
        
        
    }

    #showboth{
        
        margin-left: 32.5px;
        margin-top: 315px;
     
    }
    
    #showboth2{
        
        margin-left: 12.5px;
        margin-top: 315px;
        
    }
    
    #frontmenutoggle{
        position: absolute;
        margin-left: 70px;
        margin-top: 315px;
  
        
    }
    
    
    #backmenutoggle{
        position: absolute;
        margin-left: 70px;
        margin-top: 315px;
        
        
    }

    #rightMenu{
        width:140px
    }

    #cardholderFront{
        height:225px;
        margin-top: 150px;
        transform: translate(-50%,0%);
    }
    
    
    #cardholderBack{
        height:225px;
        margin-top: 150px;
        transform: translate(-50%,0%);
    }

  
    
   

   

    #cardholderFrontSBS{
        height:225px;
        transform: translate(-50%,0%);
        margin-right: 50px;
        position: absolute;
        margin-top: 150px;
        margin-left: 50vw;
    }
    
    #cardholderBackSBS{
        height:225px;
        transform: translate(-50%,0%);
        margin-right: 50px;
        position: absolute;
        margin-top: 425px;
        margin-left: 50vw;
    }


    .deconstruct {
        max-height:30vh;
        margin-top:40vh;
    }
    
    #monogramText1{        
        height: 225px;
        width: 321px;
        font-size: 55px;
        line-height: 225px;
        
    }

    #monogramText2{        
        height: 225px;
        width: 321px;
        font-size: 55px;
        line-height: 225px;
    }

    #monogramContainer{
        position: absolute;
        margin-top: 150px;
        transform: translate(-50%,0%);
        margin-left: 50vw;
        height: 225px;
        width: 321px;

    }
    
    #monogramTextBox{
        
        margin-top:230px;
    }


}

@media(max-width:924px) and (min-width:600px){
    #monogramText1{
        font-size: 9vw;
        line-height: 35vw;
    }

    #monogramText2{
        font-size: 9vw;
        line-height: 35vw;
    }

    #monogramTextBox{
        
        margin-top:39vw;
    }
}