#cardholder1 {
    height:45vh;
    margin-top:40vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    cursor:pointer;
    
  }

  #options {
    position:relative;  
    margin: -10vh auto;
    transform: translate(-2%, -50%);
    display:flex;
    justify-content: center;
    list-style-type:none;
    width:45vh;
    
  }

  
  

.unselected {
    background-color: white;
    border:none;
    color:black;
    text-align: center;
    width:15vh;
    height:5vh;
    font-family:candara;
    font-size:17px;
    
    transition-duration: 0.4s;
    cursor:pointer;
    outline: none;
}

.selected {
    background-color: black;
    opacity:0.7;
    border:none;
    color:white;
    text-align: center;
    width:15vh;
    height:5vh;
    font-family:candara;
    font-size:17px;
    
    transition-duration: 0.4s;
    cursor:pointer;
    outline: none;
}


.unselected:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.selected:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}