#background {
  position: relative;
  overflow: hidden;
  
}

#background-image {
  height:62.5vh;
  margin-top:50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  cursor:pointer;
  
}
/*
#background-image:hover{
  display:none;
  
} 


#foreground-image {
  
  height:62.5vh;
  margin-top:50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  cursor:pointer;
  
 
}*/

